<style>
	svg {
	  font-family: "Helvetica Neue", Helvetica;
	}

	.line {
	  fill: none;
	  stroke: #000;
	  stroke-width: 2px;
	}
	.album  
    {  
        border: 3px solid #ccc;  
        float: left;  
        margin: 10px;  
        min-height: 100px;  
        padding: 10px;  
        width: 15%;  
    }  
   	.automator  
    {  
        border: 5px solid #cccccc; 
        float: left;  
        margin: 10px;  
        min-height: 100px;  
        padding: 10px;  
        width: 15%;  
    }  
	.report  
    {  
        border: 3px dashed green;  
        float: left;  
        margin: 10px;  
        min-height: 320px;  
        padding: 10px;  
        width: 20%;  
    } 
	.avators
	{
		border: 3px dashed #ccc;  
        float: left;  
        margin: 10px;  
        min-height: 320px;  
        padding: 10px;  
        width: 30%; 
	}
	body {
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	  background: white;
	  width: 100%;
	  margin: 0 auto;
	}

	text {
	  font: 10px sans-serif;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

	form {
	  position: absolute;
	  right: 10px;
	  top: 10px;
	}
</style>